body {
	/*css for full size background image*/
	background: url(../images/paradiseIsland.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	background-color: #060;
	color: #fff;
	text-align: center;
}

.index {
	padding-top: 100px;
}

#enter { cursor: pointer; }
#welcome { font-size: 20px; font-weight: bold;  }
#welcome a{ color: #fff;  }
ul.menu {
	margin-top:50px;
	background-color: orange;
}

ul.menu a{
	color:#fff;
	font-weight: bold;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #eee;
    text-decoration: none;
    color: #000;
}
#menu-name{
	float: right;
	color: #fff;
    font-weight: bold;
    padding: 10px 15px;
}

.row.content{
	margin-top: 30px;
	min-height: 400px
}

.dropdown-menu > li > a {
    color: #333 !important;
}